<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sunt hic
        quae non vero fuga quas maxime error libero minima? Veritatis doloribus,
        voluptatibus sapiente repudiandae ab dicta. Tempore, laboriosam earum?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
