<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="icons/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veritatis
      corrupti molestias culpa alias earum ipsa eligendi tenetur excepturi
      libero. Vero officiis voluptas debitis! Doloribus porro deleniti sint
      dolores quas!
    </p>
  </div>
</div>
